.title {
  font-size: 80px;
}

h2 {
  background-color: #FFFF00;
  color: #000000;
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

table,
td {
  padding: 1em;
  border: 1px solid black;
}

th {
  border: 1px solid black;
  padding: 1em;             
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}