@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: black;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: honeydew;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0% 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: yellow;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: yellow;
    text-decoration: none;
    align-items: center;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: yellow;
    text-decoration: none;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: honeydew;
    text-decoration: none;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;  
    }

.center {
     text-align: center;
    }

/* For mobile phones: */
[class*="col-"] {
    width: max 100%;
  }

  @media only screen and (max-width: 600px) {
        body {
          background-color: black;
        }
      }
