@tailwind base;
@tailwind components;
@tailwind utilities;


.star-widget input{
    display: none;
}

.star-widget label{
    float: right;
    transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #ffa500;
}

.star-widget input:checked ~ label{
    color: #ffa500;
}

.star-widget input#rate-5:checked ~ label{
    color: #ffb507;
}

